/* --- ESTILOS EXCLUSIVOS DEL LOGIN --- */
.login-card {
    -fx-background-color: #0f172a;
    -fx-background-radius: 25;
    -fx-border-color: #1e293b;
    -fx-border-radius: 25;
    -fx-padding: 50;
    -fx-min-width: 350px;
    -fx-max-width: 450px;
    -fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.4), 40, 0, 0, 0);
}

.custom-input {
    -fx-background-color: #020617;
    -fx-border-color: #334155;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-padding: 12;
    -fx-font-size: 14;
}

.custom-input:focused {
    -fx-border-color: #2563eb;
    -fx-background-color: #020617;
}

.login-button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 14;
    -fx-font-size: 15;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #1d4ed8;
    -fx-effect: dropshadow(three-pass-box, rgba(37, 99, 235, 0.3), 10, 0, 0, 0);
}